<%= form_with(model: raw, local: true) do |form| %>
  <% if raw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raw.errors.count, "error") %> prohibited this raw from being saved:</h2>

      <ul>
      <% raw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :raw_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type, id: :raw_type %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :raw_quantity %>
  </div>

  <div class="field">
    <%= form.label :measure %>
    <%= form.text_field :measure, id: :raw_measure %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :raw_cost %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :raw_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :raw_updated_at %>
  </div>

  <div class="field">
    <%= form.label :expired_at %>
    <%= form.datetime_select :expired_at, id: :raw_expired_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
