<p id="notice"><%= notice %></p>

<!-- <h1>Raws</h1> -->
<nav class="navbar fixed-top navbar-dark" style="background-color: #b54747;">
  <span class="navbar-brand mb-0 h1">Raws</span>
</nav>
<br>
<table class="table table- table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Measure</th>
      <th>Cost</th>
      <th>Expired at</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @raws.each do |raw| %>
      <tr>
        <td><%= raw.name %></td>
        <td><%= raw.type %></td>
        <td><%= raw.quantity %></td>
        <td><%= raw.measure %></td>
        <td><%= raw.cost %></td>
        <td><%= raw.expired_at %></td>
        <td><%= link_to 'Show', raw %></td>
        <td><%= link_to 'Edit', edit_raw_path(raw) %></td>
        <td><%= link_to 'Destroy', raw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Raw', new_raw_path, :class => "btn"%>
