<p id="notice"><%= notice %></p>

<h1>Raws</h1> 
<table class="table table- table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Measure</th>
      <th>Cost</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @raws.each do |raw| %>
        <tr>
          <td><%= raw.name %></td>
          <td><%= raw.type %></td>
          <td><%= raw.measure %></td>
          <td><%= raw.cost %></td>
          <td>
            <%= link_to 'Show', raw %>
          </td>
          <td>
            <%= link_to edit_raw_path(raw) do%>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <%= link_to raw, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>              
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Raw', new_raw_path, :class => "btn"%>
