<p id="notice"><%= notice %></p>

<div class="recipes">
  <h1>Recipes</h1>
  <div class="container-fluid">
    <div class="row">
      <% @receipes.each do |recipe| %>
          <div class="card col-sm-4" id="<%= recipe.id %>" style="padding:0;">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= recipe.type %></h6>
              <p class="card-text">Cost: <%= "%g" % recipe.cost %></p>
              <%= link_to raw_inventories_path(recipe), remote: true, class: 'see_inventories' do %>
                <p>See inventories <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
              <% end %>
              <div class="raws"></div>
              <%= link_to edit_recipe_path(recipe), class: 'card-link' do%>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>              
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>    
</div>


<%= link_to 'New Recipe', new_recipe_path %>
