<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @raw_inventory.quantity %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @raw_inventory.expired_at %>
</p>

<%= link_to 'Edit', edit_raw_inventory_path(@raw_inventory) %> |
<%= link_to 'Back', raw_inventories_path %>
