<p id="notice"><%= notice %></p>

<div class="products">
  <h1>Products</h1>
  <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
          <div class="card col-sm-12" id="<%= product.id %>" style="padding:0;">
            <div class="card-body">
              <div class="card-top row">
                <h5 class="card-title col-sm"><%= product.recipe.name %></h5>              
                <div class="actions col-sm">
                  <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>              
                  <% end %>
                </div>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"><%= "%g" % product.recipe.quantity %> <%= product.recipe.measure %></h6>
              <p class="card-text">
              Cost: <%= number_to_currency("%g" % product.recipe.cost) %> <br>
              Expire in <%= pluralize((product.expired_at - Date.today).to_i, 'day') %> 
              </p>
              <%= link_to products_recipe_materials_path(product), remote: true, class: 'see_materials' do %>
                <p>See recipe materials <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
              <% end %>
              <div class="materials"></div>
              
            </div>
          </div>
        <% end %>
    </div>
  </div>    
</div>

<%= link_to 'New Product', new_product_path %>
