<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receipt.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @receipt.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @receipt.quantity %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @receipt.expired_at %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @receipt.measure %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
